.grid {
  display: grid;
}

.grid-areas {
  grid-template:100px 100px / 1fr 1fr;
  grid-template-areas:
"logo header"
  "main main";
}

.grid-areas div:nth-child(1) {
  grid-area: header;
}

.grid-areas div:nth-child(2) {
  grid-area: logo;
}

.grid-areas div:nth-child(3) {
  grid-area: main;
}
