.grid {
  display: grid;
}

.ordering-grid {
  grid-template: repeat(3,100px)/1fr 1fr;
}

.ordering-grid div:nth-child(1) {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  grid-column: 2/3;
  grid-row: 3/4;
}